body {
  width: 80%;
  padding: 10px;
  margin: auto;
  background-color: rgb(6, 74, 145);
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none; /* no underline */
}

#tag_overview, #full_article{
  display: none;
}

.right {
  float: right;
}

/* related with task container */
#task_container {
  position: relative;
  width: 100%;
  height: auto;
  border: 3px solid green;
}

/* related with navigation bar*/
#navigation_bar, #footer {
  display: inline-block;
  width: 100%;
  height: 24px;
  padding: 10px 0px 10px 5px;
  background-color: rgb(94, 32, 40);
}

#navigation_bar {
  margin-bottom: 50px;
}

#footer {
  margin-top: 100px;
}

.nav_element, .footer_element {
  cursor: pointer;
  width: auto;
  float: left;
  font-size: 20px;
  padding-right: 20px;
  text-decoration: underline;
}

/* related with news slider */
#slider {
  position: relative;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 100px;
}

.slider_element {
  display: none;
  vertical-align: top;
  padding: 10px 10px 10px 10px;
  width: 400px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* related with random articles */
#article_preview {
  display: grid;
}

.article {
  display: flex;
  margin-bottom: 15px;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 15px;
}

.left {
  float: left;
  margin-right: 30px;
}